*, *:before, *:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.vf-table {
  width: 100%;

  .table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    .table-header {
      color: #fafafa;
    }

    tbody {
      border: solid 1px rgba(0, 0, 0, 0.12);
      background-color: #ffffff;
    }

    th {
      padding: 10px;
      position: relative;
      background-color: #0277BD;
      font-weight: normal;
      transition: all 0.25s;

      &:not(:last-child) {
        border-right: 1px solid rgba(#fafafa, 0.12);
      }

      &.active {
        color: #fafafa;
        text-decoration: underline;
        padding: 0 30px;
      }

      &.pointer {
        cursor: pointer;
      }

      &.drag-dest {
        background-color: #00629a;
      }

      .sort-buttons {
        position: absolute;
        top: 50%;
        margin-top: calc(-25px / 2);
        right: 2px;
        width: 25px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .sort-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 12px;
        outline: none;
        margin: 0;
        padding: 0;
        border: 0;
        cursor: pointer;
        background: transparent;
        transition: all 0.25s ease-in-out;

        &:hover {
          .material-icons {
            color: #e7dddd;
          }
        }

        .material-icons {
          line-height: 12px;
          font-size: 25px;
          color: rgba(#000000, 0.2);

          &.active {
            color: #fafafa;
          }
        }
      }
    }

    .search-column-input {
      position: relative;
      width: 100%;

      .search-column-icon {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 21px;
        height: 21px;
        line-height: 21px;
        font-size: 21px;
        color: #0277BD;
      }
    }

    td {
      padding: 5px;
      line-height: 28px;

      &:not(:last-child) {
        border-right: 1px solid rgba(#000000, 0.12);
      }

      &.no-match {
        padding: 20px;
      }
    }

    th, td {
      text-align: center;
      font-size: 14px;
    }
  }

  tbody tr:nth-of-type(odd) {
    background-color: rgba(#0277BD, 0.05);
  }

  .table-input {
    outline: none;
    padding: 5px;
    text-align: center;
    border: 1px solid rgba(#0277BD, 0.5);
    min-width: 95%;
    height: 28px;

    &:focus {
      outline: 2px solid #0277BD;
    }

    &--select {
      cursor: pointer;
    }

    &--items-count {
      min-width: 35px;
      font-size: 12px;
      cursor: pointer;
      border: 0;
      border-bottom: 1px solid rgba(#000000, 0.12);

      &:focus {
        outline: none;
        border-bottom: 2px solid rgba(#0277BD, 0.5);
      }
    }

    &--column-search {
      text-align: left;
      height: 30px;
      min-width: 100%;
      padding-left: 30px;
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 20px;

      &:focus {
        outline: none;
        border: 2px solid #0277BD;
      }
    }
  }

  .table-checkbox {
    cursor: pointer;
  }


  .table-footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 8px;
    background-color: #ffffff;
    border: 1px solid rgba(#000000, 0.12);
    border-top: 0;

    .items-select {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 155px;
      margin-right: 20px;
    }

    .items-count-label {
      font-size: 12px;
    }

    .rows-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
    }

    .items-per-page {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }

    .items-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-button {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-family: inherit;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0 5px;
        margin: 0 5px;
        border-radius: 50%;
        border: 0;
        cursor: pointer;
        outline: none;
        transition: all 0.05s ease-in-out;

        .material-icons {
          font-size: 25px;
          line-height: 25px;
          color: rgba(#000000, 0.5);
          user-select: none;
        }

        &:hover {
          background-color: #fafafa;
        }

        &:active {
          background-color: #e7dddd;
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}

// Custom-checkbox
.table-checkbox-label {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;

  span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);

    &:first-child {
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      transform: scale(1);
      vertical-align: middle;
      border: 1px solid rgba(#000000, 0.2);
      transition: all .2s ease;

      svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #ffffff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all .3s ease;
        transition-delay: .1s;
        transform: translate3d(0, 0, 0);
      }

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #0277BD;
        display: block;
        transform: scale(0);
        opacity: 1;
        border-radius: 50%;
      }
    }

    &:last-child {
      padding-left: 8px
    }

  }

  &:hover {
    span:first-child {
      border-color: #0277BD;
    }
  }
}

.table-checkbox:checked + .table-checkbox-label {
  span {
    &:first-child {
      background: #0277BD;
      border-color: #0277BD;
      animation: wave .4s ease;

      svg {
        stroke-dashoffset: 0;
      }

      &:before {
        transform: scale(3.5);
        opacity: 0;
        transition: all 0.4s ease;
      }
    }
  }
}
